# IntelliJ IDEA
.idea/

# Временные файлы и папки, связанные с компиляцией
.out/
*.iml

# Скомпилированные файлы классов
*.class

# Логи
*.log

# Файлы BlueJ
*.ctxt

# Временные файлы для мобильных инструментов Java (J2ME)
.mtj.tmp/

# Архивы и пакеты
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Конфигурационные файлы и текстовые файлы, которые не нужны в репозитории
*.json
*.txt

# Логи ошибок виртуальной машины
hs_err_pid*
replay_pid*

# Файлы системы
.DS_Store